extends layout

block content
  h1= title
  .page-data
    .data-btn
      button(onclick='addUser();') + Add
    .data-table
      table(border='1', cellpadding='7', cellspacing='7' )
        tr
          th (width='50px') no
          th Name
          th Address
          th Phone
          th Email
          th (width='120px') Action
        if (data.length)
          for (var i = 0; i < books.length; i++)
            tr
              td i+1
              td data[i].name
              td data[i].address
              td data[i].phone
              td data[i].email
              td
                a.a-inside.edit(href="../customers/edit/"+data[i].id) Edit
                a.a-inside.delete(href="../customers/edit/"+data[i].id) Edit
        else
          tr
            td(colspan="3") No user
